<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>html基本结构</title>
	<link rel="stylesheet" href="css/h_reset.css" />
	<link rel="stylesheet" href="css/col_style.css" />
	<script src="js/jquery-1.10.2.js"></script>
</head>
<body>


<xmp class="cssAttr" style="font-family: '微软雅黑'; font-size: 14px; color: #38a338; padding: 30px; line-height: 22px;"><!DOCTYPE HTML>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="renderer" content="webkit" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<title>标题</title>
	<link href="favicon.ico" type="image/x-icon" rel="icon" />
	<link href="favicon.ico" type="image/x-icon" rel="shortcut icon" />
	<link rel="stylesheet" href="css/common.css" />
	<link rel="stylesheet" href="css/xxx.css" />
	<script src="js/iconfig.js"></script>
</head>
<body>

code here...

<script src="js/rconfig.js"></script>
<script src="js/require.js" data-main="js/xxx.js"></script>

</body> 
</html></xmp>


</body>
</html>