<link rel="stylesheet" href="css/col_style.css" />
<pre class="preTxt">html代码编写规范：

--h1 - 网页主题 / 一个页面只有一个
--h2 - 大栏目标题 or 楼层标题 等
--h3 - 小栏目标题
--h4 - 列表每一条目的标题
--h5,h6 - 除以上情况的其他如强调加粗等情况适当使用

--ul+li - 列表最佳搭配
--p - 描述文字
--span - 搭配其他元素用以布局标签等，尽量不要用于外容器

-- 元素<a>如无链接时其属性href值填充':javascript:;'
-- 页面图片（一般为后台可配置的图片）存放根目录'/images'内（区别于小图标和背景图片）；

//为兼容ie8一般情况尽量少用html5新属性标签

-------------------------------------------------------------

html文件命名参考：

index        //首页
list-prod        //产品列表
list-news        //新闻列表
article-prod        //产品详情页
article-news        //新闻详情页

login        //登录页
register        //注册页

shopping        //商城首页	
shopping-cart        //购物车
shopping-order        //订单list
shopping-confirm        //订单确认页面

member        //会员中心
member-addr        //会员中心->地址管理

...

//命名全为小写字母
//分隔符使用中线'-'，不用下划线'_'
//命名尽量把同属一个模块的使用一样的前缀，如商城模块的统一用'shopping-'前缀（除首页用'shopping'）


</pre>


