
<pre>网页模块外容器类名参考：

p-header
p-search
p-topnav
p-crumb
p-sidebar
p-menu
p-submenu
p-container
p-main
p-article
p-list-news
p-list-prod
p-pagination
p-banner
p-friendlink
p-partner
p-brand
p-guide
p-copyright
p-footer
p-login
p-register
p-form
p_table
...

//要求需要前缀'p-'，以区分容器内部元素类名
//整个项目中是唯一的，不能重复




共用功能模块命名参考：
g-flex
g-check
g-switch
g-toggle
g-arrow-down




除外容器外的内部元素命名参考：
left
right
cen
logo
ttl
btn
menu
list
desc
summary
body
banner
tab
msg
icon
hot
new
column
status
...

//要求不能带有前缀'p-'，以区分外容器类名
//只要不在同一个外容器内命名可以重复，只要样式设置时带有外容器类名前缀即可


样式表命名参考：
通用样式：common.css     //重置代码及网站头部底部侧栏等公用代码（开发时可分为重置样式+）
首页：index.css
各页面特定样式 **.css     //样式表名称尽量跟对应html文件名一致
主题 themes.css
文字 font.css
表单 forms.css
打印 print.css
...
</pre>