<link rel="stylesheet" href="css/col_style.css" />
<pre class="preTxt">html文件命名参考：

index        //首页
list-prod        //产品列表
list-news        //新闻列表
article-prod        //产品详情页
article-news        //新闻详情页

login        //登录页
register        //注册页

shopping        //商城首页	
shopping-cart        //购物车
shopping-order        //订单list
shopping-confirm        //订单确认页面

member        //会员中心
member-addr        //会员中心->地址管理

...

//命名全为小写字母
//分隔符使用中线'-'，不用下划线'_'
//命名尽量把同属一个模块的使用一样的前缀，如商城模块的统一用'shopping-'前缀（除首页用'shopping'）
</pre>


