<link rel="stylesheet" href="css/top_standard.css" />

<div class="txtBody">

<div class="section">
	<i>--------------------------------------------------------最前面-----</i>
	<ul>
		<li>content:''</li>
	</ul>
</div>

<div class="section">
	<i>--------------------------------------------------------定位-----</i>
	<ul>
		<li>z-index</li>
		<li>position</li>
		<li>top / bottom / left / right</li>
	</ul>
</div>

<div class="section">
	<i>--------------------------------------------------------盒模型-----</i>
	<ul>
		<li>display</li>
		<li>float</li>
		<li>clear</li>
		<li>overflow</li>
		<li>width</li>
		<li>height</li>
		<li>padding</li>
		<li>margin</li>
	</ul>
</div>

<div class="section">
	<i>--------------------------------------------------------排版-----</i>
	<ul>
		<li>font-family</li>
		<li>font-size</li>
		<li>font-weight</li>
		<li>line-height</li>
		<li>text-aligh</li>
		<li>text-indent</li>
		<li>text-decoration</li>
		<li>text-decoration</li>
		<li>white-space</li>
		<li>color</li>
	</ul>
</div>

<div class="section">
	<i>--------------------------------------------------------视觉-----</i>
	<ul>
		<li>border</li>
		<li>outline</li>
		<li>visibility</li>
		<li>background (-color -image -position -size)</li>
	</ul>
</div>

<div class="section">
	<i>--------------------------------------------------------css3,需兼容前缀-----</i>
	<ul>
		<li>text-overflow</li>
		<li>opacity</li>
		<li>border-radius</li>
		<li>box-shadow</li>
		<li>text-shadow</li>
		<li>transition</li>
		<li>@keyframes</li>
	</ul>
</div>

<div class="section">
	<i>--------------------------------------------------------杂项-----</i>
	<ul>
		...
	</ul>
</div>

</div>


