<link rel="stylesheet" href="css/col_style.css" />
<pre class="preTxt">//以下列举的只是常用的属性声明，其他属性请自行判断声明顺序，尽量同类型的属性放到一块

---------------------------------最前面-----
-- content:''

---------------------------------定位-----
-- z-index    
-- position
-- top / bottom / left / right

---------------------------------盒模型-----
-- display
-- float
	-- clear
-- overflow     
-- width
-- height
-- padding
-- margin

---------------------------------排版-----
-- font-family
-- font-size
-- font-weight
-- line-height
-- text-aligh
-- text-indent
-- text-decoration
	-- white-space
-- color

---------------------------------视觉-----
-- border
-- outline
	-- visibility
-- background (-color -image -position -size)

---------------------------------css3,需兼容前缀-----
-- text-overflow
-- opacity
-- border-radius
-- box-shadow
-- text-shadow
-- transform
-- transition
-- @keyframes

---------------------------------杂项-----
...</pre>