<link rel="stylesheet" href="css/top_standard.css" />

<div class="txtBody">


<div class="section">
	<h5>html文件命名：</h5>
	<h6>规范说明：</h6>
	<ul>
		<li>分隔符使用中线'-'，不用下划线'_'</li>
		<li>命名尽量把同属一个模块的使用一样的前缀，如商城模块的统一用'shopping-'前缀（除首页用'shopping'）</li>
	</ul>
	<i></i>
	<h6>类名参考：</h6>
	<pre>index        //首页
list-prod        //产品列表
list-news        //新闻列表
article-prod        //产品详情页
article-news        //新闻详情页

login        //登录页
register        //注册页

shopping        //商城首页	
shopping-cart        //购物车
shopping-order        //订单list
shopping-confirm        //订单确认页面

member        //会员中心
member-addr        //会员中心->地址管理

...</pre>
</div>


</div>


