<!-- Site wrapper -->
<div class="wrapper">

    <!-- =============================================== -->
    <header class="main-header" data-app-header></header>

    <!-- =============================================== -->
    <aside class="main-sidebar" data-app-sidebar></aside>

    <!-- =============================================== -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" data-app-layout-content-wrapper>
        <div class="app-content-wrapper">
            <div data-ui-view="content" class="animated"></div>
        </div>
    </div>
    <!-- /.content-wrapper -->

    <!-- =============================================== -->
    <footer class="main-footer" data-app-footer></footer>

    <!-- =============================================== -->
    <!-- Control Sidebar -->
    <!--<aside class="control-sidebar control-sidebar-dark"></aside>-->
    <!-- /.control-sidebar -->

    <!--<div class="control-sidebar-bg"></div>-->

    <!-- =============================================== -->

</div>
<!-- ./wrapper -->