<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/col_style.css" />
<script src="js/jquery-1.10.2.js"></script>
<script src="js/copy/jquery.zclip.min.js"></script>
<title>base</title>
</head>
<body>



<!--头部-->
<{include file="global_header.php"}>


<!--获取参数值-->
<input type="hidden" id="page" value="<{$smarty.get.page}>" />
<input type="hidden" id="col" value="<{$smarty.get.col}>" />
<input type="hidden" id="folder" value="<{$smarty.get.folder}>" />
<input type="hidden" id="details" value="<{$smarty.get.details}>" />
<{if $smarty.get.page=="plus"}>
<input type="hidden" id="html" value="<{$way}>" />
<{/if}>

<div class="fDetails">

	<!--===================图片===================-->
	<div class="fPic">
		<ul>
			<ol>
				<img src="col_<{$smarty.get.page}>/pictures/<{if $smarty.get.page=="plus"}><{$info.ttl_short}><{else}><{$info.ttl}><{/if}>.png" />
			</ol>
		</ul>
	</div>


	<!--===================标题===================-->
	<div class="fPart name">
		<h3>名称：</h3>
		<div class="cont"><{if $smarty.get.page=="plus"}><{$info.ttl_short}><{else}><{$info.ttl}><{/if}></div>
	</div>
	

	<!--===================简介===================-->
	<div class="fPart">
		<h3>简介：</h3>
		<div class="cont"><{$info.desc}></div>
	</div>


	<!--===================优势===================-->
	<div class="fPart">
		<h3>优势：</h3>
		<div class="cont"><{$info.desc}></div>
	</div>


	<!--===================demo===================-->
	<div class="fPart demo">
		<h3>Demo：</h3>
		<div class="cont grey">(此插件常用的情景demo)</div>
	</div>	
	<{if $smarty.get.page=="plus"}>
	<!--常用模板展示-->
	<div class="fTemps">
		<div class="tabs">
			<{section name=list loop=$info.descs}>
			<a data-ttl="<{$info.descs[list].name}>"><{$info.descs[list].desc}></a>
			<{/section}>
		</div>
		<div class="drops">
			<div class="ttl2">以下是此demo的配置，可按需修改配置项后运行：</div>
			<textarea class="code" spellcheck="false"></textarea>
		    <a class="btn-run">运行此demo</a>
		    <div class="btns">
		    	<span>此demo其他操作：</span>
		    	<{if $smarty.get.page!="unit"}>
				<a class="btn_code fr" target="_blank" href="col_handle.php?page=<{$smarty.get.page}>&col=<{$smarty.get.col}>&folder=<{$smarty.get.folder}>&act=setting&ttl=<{$info.ttl}>">修改源码</a>
				<{/if}>
				<a class="fl btn_details_copy" href="javascript:;">复制主体代码</a>
				<{if $smarty.get.page!="unit"}>
					<a class="fr btn_download" href="col_zip.php?page=<{$smarty.get.page}>&col=<{$smarty.get.col}>&folder=<{$smarty.get.folder}>&ttl=<{$info.ttl}>&act=zipAll">整套下载</a>
				<{else}>
					<a class="fr download" href="files/zip/col_<{$smarty.get.page}>/<{$info.ttl}>.zip">整套下载</a>
				<{/if}>
		    </div>
		</div>
		<xmp id="code" style="display:none;"><{$code}></xmp>
	</div>
	<div class="fDemo">
		<div class="mask"></div>
		<a class="quit"></a>
	</div>
	<{/if}>


	<!--===================兼容===================-->
	<input type="hidden" id="dataHack" value="<{$info.hack}>" />
	<div class="fHack">
		<ol id="firefox" class="yes"><img src="images/sys/tab_firefox.png" /></ol>
		<ol id="chrome" class="yes"><img src="images/sys/tab_chrome.png" /></ol>
		<ol id="safari" class="yes"><img src="images/sys/tab_safari.png" /></ol>
		<ol class="ie">
			<img src="images/sys/tab_ie.png" />
			<ul>
				<li id="ie11" class="yes">11</li>
				<li id="ie10" class="yes">10</li>
				<li id="ie9" class="no">9</li>
				<li id="ie8" class="no">8</li>
				<li id="ie7" class="no">7</li>
				<li id="ie6" class="no">6</li>
			</ul>
		</ol>
	</div>
	<{if $smarty.get.page!="plus"}>
	<!--按键-->
	<ol class="fBtn">
		<ul class="btn1">
			<a class="fl" target="_blank" href="col_handle.php?page=<{$smarty.get.page}>&col=<{$smarty.get.col}>&folder=<{$smarty.get.folder}>&_temp=<{$info.ttl}>">效果展示</a>
			<{if $smarty.get.page!="unit"}>
			<a class="fr" target="_blank" href="col_handle.php?page=<{$smarty.get.page}>&col=<{$smarty.get.col}>&folder=<{$smarty.get.folder}>&act=setting&ttl=<{$info.ttl}>">自定义设置</a>
			<{/if}>
		</ul>
		<ul class="btn2">
			<a class="fl btn_details_copy" href="javascript:;">源码复制</a>
			<{if $smarty.get.page!="unit"}>
				<a class="fr download" href="col_zip.php?page=<{$smarty.get.page}>&col=<{$smarty.get.col}>&folder=<{$smarty.get.folder}>&ttl=<{$info.ttl}>&act=zipAll">整套下载</a>
			<{else}>
				<a class="fr download" href="files/zip/col_<{$smarty.get.page}>/<{$info.ttl}>.zip">整套下载</a>
			<{/if}>
		</ul>
	</ol>	
	<{/if}>	
	<xmp id="code" style="display:none;"><{$code}></xmp>
	<div class="h_mask"></div>
	<div class="mAlert2">已复制到剪切板！</div>


	<!--===================依赖===================-->
	<div class="fPart">
		<h3>依赖：</h3>
		<div class="cont grey">(Demo所依赖的文件)</div>
	<input type="hidden" id="dataRefer" value="<{$info.refer}>" />
	<div class="fRely">
		<ol>
			<li>
				<p>reset.css</p>
				<span>：浏览器重置样式</span>
				<a target="_blank" href="css/reset.css">查看源码</a>
				<a target="_blank" href="col_zip.php?act=zipOne&file=css/reset.css">点击下载</a>
			</li>
			<li>
				<p>jquery-1.10.2.js</p>
				<span>：JQ库</span>
				<a target="_blank" href="js/jquery-1.10.2.js">查看源码</a>
				<a target="_blank" href="col_zip.php?act=zipOne&file=js/jquery-1.10.2.js">点击下载</a>
			</li>
		</ol>
	</div>
	</div>


	<!--===================链接===================-->
	<div class="fPart">
		<h3>链接：</h3>
		<div class="cont">
			<p><a class="link" href="#">http://www.baidu.com</a></p>
			<p><a class="link" href="#">http://www.baidu.com</a></p>
		</div>
	</div>


	<!--===================参数===================-->
	<div class="fPart">
		<h3>常用参数：</h3>
		<div class="cont grey">(此处只列举插件常用的参数，更多详情请点击上面链接查询)</div>
		<div class="param">
			<table border="1">
				<tr class="hd">
					<td class="t1">参数名</td>
					<td class="t2">是否必要</td>
					<td class="t3">说明</td>
				</tr>
				<tr>
					<td class="t1">参数名</td>
					<td class="t2">是否必要</td>
					<td class="t3">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字</td>
				</tr>
				<tr>
					<td class="t1">参数名</td>
					<td class="t2">是否必要</td>
					<td class="t3">说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字说明文字</td>
				</tr>
			</table>
		</div>
	</div>


	<!--===================其他说明===================-->
	<div class="fPart style2">
		<h3>其他说明：</h3>
	</div>
	<div class="fNote">
		<ol>
			<{$info.note}>
		</ol>
	</div>


</div><!--/fDetails-->



<script>

window.onload=function(){
	//默认第一个demo点击
	$(".fTemps .tabs a").eq(0).trigger("click");
}
$(function(){
	//切换demo
	$(".fTemps").on("click",".tabs a",function(){
		$(this).addClass("on").siblings().removeClass("on");
		var page=$("#page").val();
		var col=$("#col").val();
		var folder=$("#folder").val();
		var details=$("#details").val();
		var way=$("#html").val();
		var demo=details.substr(0,details.length-6)+"/"+$(this).attr("data-ttl");
		var submitdata={
			'page':page,
			'col':col,
			'folder':folder,
			'way':way,
			'demo':demo,
			'act':'demos'
		}
		$.post("col_handle.php",submitdata,function(data){
			var data = eval("(" + data + ")");
			$(".fTemps .drops").prepend('<xmp style="display:none;" id="height_code">'+data["script"]+'</xmp>');
			$(".fTemps .code").height($("#height_code").height()+80).val(data["script"]);
			$("#height_code").remove();
			$("#code").text(data["code"]);
			$(".btn_code").attr("href",'col_handle.php?page='+page+'&col='+col+'&folder='+folder+'&act=setting&ttl='+demo);
			if($(".btn_download").length>0){
				$(".btn_download").attr("href",'col_zip.php?page='+page+'&col='+col+'&folder='+folder+'&ttl='+demo+'&act=zipAll');
			}
		});
	});

	//运行demo
	$(".btn-run").click(function(){
		var page=$("#page").val();
		var folder=$("#folder").val();
		var col=$("#col").val();
		var details=$("#details").val();
		var code_config=$("textarea.code").val();
		var way=$("#html").val();
		var dataRefer=$("#dataRefer").val().replace(/\s+/g,"");//去掉空格？
		var demo=details.substr(0,details.length-6)+"/"+$(".fTemps .tabs .on").attr("data-ttl");
		var submitdata={
			'page':page,
			'folder':folder,
			'col':col,
			'code_config':code_config,
			'way':way,
			'dataRefer':dataRefer,
			'demo':demo,
			'act':'running'
		}
		$.post("col_handle.php",submitdata,function(data){
			var data = eval("(" + data + ")");
			if(data=="seccess"){
				$("html,body").css("overflow-y","hidden");
				$(".fDemo").append('<iframe class="iframe" src="temp_details_setting.html"></iframe>').show();
			}
		});
	});

	//关闭demo
	$(".fDemo .quit").on("click",function(){
		$(".fDemo").hide();
		$(".fDemo").find("iframe").remove();
		$("html,body").css("overflow-y","auto");
	});
});

$(function(){

	//兼容
	var dataHack=$("#dataHack").val().replace(/\s+/g,"");
	var arr_hack=dataHack.split(",");
	for(var i=0;i<arr_hack.length;i++){
		var arr=[];
		arr[i]=arr_hack[i].split(":");
		$("#"+arr[i][0]).attr("class","").addClass(arr[i][1]);
	}

	//依赖
	if($("#dataRefer").val()!=""){
		var dataRefer=$("#dataRefer").val().replace(/\s+/g,"");//去掉空格？
		var arr_Refer=dataRefer.split(",");
		for(var i=0;i<arr_Refer.length;i++){
			var arr=[];
			arr[i]=arr_Refer[i].split(":");
			var temp=arr[i][0].split("/");
			var basename=temp[temp.length-1];
			var html=
			'<li>'
				+'<p>'+basename+'</p>'
				+'<span>：'+arr[i][1]+'</span>'
				+'<a target="_blank" href="'+arr[i][0]+'">查看源码</a>'
				+'<a href="col_zip.php?act=zipOne&page=<{$smarty.get.page}>&file='+arr[i][0]+'">点击下载</a>'
			+'</li>';
			$(".fRely ol").append(html);
		}
	}
		

	//复制代码
	$(".btn_details_copy").zclip({
		path: "js/copy/ZeroClipboard.swf",
		copy: function(){
			var str_code=$("#code").text();
			var start_js=str_code.indexOf("$(function(){")+13;
            var end_js=str_code.indexOf("/script")-1;
            var str_js=str_code.substr(start_js,end_js-start_js);
            if(str_js.replace(/\s+/g,"")=="});"){
                var start_js_2=str_code.indexOf("<script>");
                str_code=str_code.substr(0,start_js_2);
            }
            return str_code;
		},
		afterCopy:function(){
			$(".h_mask").show().delay(1000).fadeOut();
			$(".mAlert2").css("top",$(window).height()/2-30+"px").show().delay(1000).fadeOut();
		}
	});

});
</script>


<!--当前导航加.on-->
<script>
$(function(){
    var page=$("#page").val();
    $(".pNav ."+page).addClass("on").parent().siblings().children().removeClass("on");
});
</script>



<!--底部-->
<!--_refer-->
<{include file="global_footer.php"}>
<!--refer_-->

</body>
</html>
