<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/h_reset.css" />
	<link rel="stylesheet" href="css/col_style.css" />
	<script type="text/javascript" src="js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="js/copy/jquery.zclip.min.js"></script>
</head>
<body>



<!--头部-->
<{include file="global_header.php"}>


<!--侧栏-->
<div class="sideOther">
    <a href="col_others.php?page=others&col=css3" data-col="css3">css3样式</a>
    <a href="col_others.php?page=others&col=part&folder=mark&act=listAll" data-col="part">小部件</a>
    <a href="col_others.php?page=others&col=bs&act=catTop" data-col="bs">BS模块</a>
    <a href="col_others.php?page=others&col=website" data-col="website">前端网址</a>
    <a href="col_others.php?page=others&col=style" data-col="style">常用样式</a>
    <a href="col_others.php?page=others&col=reg" data-col="reg">常用正则</a>
</div>
<input type="hidden" id="side_col" value="<{$smarty.get.col}>" />


<div class="noteList">
	<p style="width:1200px; margin:0 auto; text-align: left;">
		<span>点击图片进入详情页 / </span>
		<span>快捷键说明 </span>
		<span class="f"> -></span>
		<span><em>效果展示</em>：模块的前端展示效果</span>
		<span class="c"> | </span>
		<span><em>源码复制</em>：把模板的主体源码复制到剪切板</span>
		<span class="c"> | </span>
		<span><em>自定义设置</em>：提供源码的修改</span>
	</p>
</div>



<{if $smarty.get.page=="form"}>

	<div class="btn_form">
		<a href="#">自定义表单控件清单<p>20</p></a>
		<i></i>
		<div class="desc">在表单控件列表中选择控件添加到清单里，点击上面按键可查看被选控件清单，可按“生成表单”及把清单中的控件合并成一个表单，同时控件之间相同的样式也会自动被共用起来</div>
	</div>

<{/if}>





<!--筛选-->
<div class="listSort">
	<h5>筛选：</h5>
    <ul>
        <a class="on" data-cat="all" href="col_handle.php?page=<{$smarty.get.page}>&col=<{$smarty.get.col}>&list=<{$smarty.get.list}>">全部</a>

        <{section name=list loop=$arr_sort}>
        <a data-cat="<{$arr_sort[list][0]}>" href="col_handle.php?page=<{$smarty.get.page}>&col=<{$smarty.get.col}>&list=<{$smarty.get.list}>&sort=<{$arr_sort[list][0]}>"><{$arr_sort[list][1]}></a>
        <{/section}>
    </ul>
</div>
<!--/筛选-->


<style>
.modeList li{ width: 150px; }
.modeList li a.a:first-child{ width: 150px; height: 150px; }
</style>


<div class="modeList">

<{section name=list loop=$temp}>
<li>
	<a class="a img" href="col_handle.php?page=<{$smarty.get.page}>&col=<{$smarty.get.col}>&folder=<{$temp[list].folder}>&details=<{$temp[list].ttl}>" target="_blank">
		<img src="col_<{$smarty.get.page}>/pictures/<{$smarty.get.col}>/<{$temp[list].ttl}>" />
	</a>
	<h5><{$temp[list].ttl}></h5>
	<ol data-title="<{$temp[list].ttl}>">
		<a href="col_handle.php?page=<{$smarty.get.page}>&col=<{$smarty.get.col}>&folder=<{$temp[list].folder}>&_temp=<{$temp[list].ttl}>" target="_blank">效果展示</a>
		<a class="copy">源码复制</a>
		<a href="col_handle.php?page=<{$smarty.get.page}>&col=<{$smarty.get.col}>&folder=<{$temp[list].folder}>&act=setting&ttl=<{$temp[list].ttl}>" target="_blank">自定义设置</a>
	</ol>
	<xmp class="code" style=" display:none;"><{$temp[list].code}></xmp>
</li>
<{/section}>



</div>


<div class="h_mask"></div><!--覆盖层-->
<div class="mAlert2">已复制到剪切板！</div>



<script>
$(function(){
	//筛选
	var sort_index=$("#sort").val();
	$("[data-cat="+sort_index+"]").addClass("on").siblings().removeClass("on");
	$(".listSort ul li").on("click",function(){
		$(this).addClass("on").siblings().removeClass("on");
	});

    //‘其他’侧栏
    var side_col=$("#side_col").val();
    $(".sideOther a").each(function(){
        var data_col=$(this).attr("data-col");
        if(data_col==side_col){
            $(this).addClass("on").siblings("a").removeClass("on");
            return;
        }
    });
    
});

//复制到剪切板
$(function(){
	$(".modeList .copy").each(function(){
		$(this).zclip({
			path: "js/copy/ZeroClipboard.swf",
			copy: function(){
				var str_code=$(this).parents("li").find(".code").text();
				var start_js=str_code.indexOf("$(function(){")+13;
	            var end_js=str_code.indexOf("/script")-1;
	            var str_js=str_code.substr(start_js,end_js-start_js);
	            if(str_js.replace(/\s+/g,"")=="});"){
	                var start_js_2=str_code.indexOf("<script>");
	                str_code=str_code.substr(0,start_js_2);
	            }
	            return str_code;
			},
			afterCopy:function(){
				$(".h_mask").show().delay(1000).fadeOut();
				$(".mAlert2").css("top",windowH()/2-30+"px").show().delay(1000).fadeOut();
			}
		});
	});
});

//屏高
function windowH(){
	if(self.innerHeight){ windowHeight = self.innerHeight;
	}else{
		if(document.documentElement && document.documentElement.clientHeight){    
			windowHeight = document.documentElement.clientHeight;
		}else{
			if(document.body){ windowHeight = document.body.clientHeight;}
		}
	} 
	return windowHeight;
}
</script>







<!--当前导航加.on-->
<input type="hidden" id="page" value="<{$smarty.get.page}>" />
<input type="hidden" id="sort" value="<{$smarty.get.sort}>" />
<script>
$(function(){
    var page=$("#page").val();
    $(".pNav ."+page).addClass("on").parent().siblings().children().removeClass("on");
});
</script>



<!--底部-->
<!--_refer-->
<{include file="global_footer.php"}>
<!--refer_-->


</body>
</html>
