<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="css/h_reset.css" />
<script type="text/javascript" src="js/jquery-1.10.2.js"></script>
</head>
<body style=" padding:20px 0;">



<style>
<{$formWarp}>
<{$sCode[0]}>
</style>

<div class="fForm">
<{$sCode[1]}>
</div>

<script>
$(function(){
	<{$sCode[2]}>
});
</script>



</body>
</html>
