<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>前端规范文档</title>
	<link rel="stylesheet" href="css/h_reset.css" />
	<link rel="stylesheet" href="css/col_style.css" />
	<link rel="stylesheet" href="css/top_standard.css" />
	<script src="js/jquery-1.10.2.js"></script>
</head>
<body>


<!--头部-->
<{include file="global_header.php"}>


<h1 class="mainTtl">网站前端规范<a class="switch close">全部展开</a></h1>

<div class="main">

	<!--@左边导航-->
	<div class="mLeft">
		<ol>
			<a href="#rule">基本规范</a>
			<a href="#html">HTML规范</a>
			<a href="#css">CSS规范</a>
			<a href="#js">JAVASCRIPT规范</a>
		</ol>
		<ul>
			<h6>快捷入口：</h6>
			<a target="_blank" href="index.php?page=standard&extra=standard_html">html基本结构</a>
			<br />
			<a target="_blank" href="index.php?page=standard&extra=standard_css_reset">重置样式参考设置</a>
			<a target="_blank" href="index.php?page=standard&extra=standard_less_var">var.less模板</a>
			<a target="_blank" href="index.php?page=standard&extra=standard_less_mix">mix.less模板</a>
			<br />
			<a target="_blank" href="index.php?page=standard&extra=standard_attr_css">css属性命名顺序</a>
			<br />
			<a target="_blank" href="index.php?page=standard&extra=standard_naming_html">html相关命名参考</a>
			<a target="_blank" href="index.php?page=standard&extra=standard_naming_css">css相关命名参考</a>
			<a target="_blank" href="index.php?page=standard&extra=standard_naming_js">js相关命名规范</a>
		</ul>
	</div><!--/mLeft-->


	<!--@右边正文-->
	<div class="mRight">

		<!--基本规范-->
		<a name="rule"></a>
		<div class="section rule" style="padding-top: 15px;">
			<a class="key0 close2" style="top: -10px;">'基本规范'<span>全部展开</span></a>
			<ol>
				<a class="key" href="javascript:;">规范目的</a>
				<div class="unit">
					<ul class="unit2">
						<p>为提高团队协作效率, 便于后台人员添加功能及前端后期优化维护,前端开发人员必须按本文档规范进行前端页面的开发；
		本文档如有不对或者不合理的地方请及时提出, 经讨论决定后方可更改。</p>
					</ul>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;">基本准则</a>
				<div class="unit">
					<ul class="unit2">
						<li>符合web标准；</li>
						<li>结构/表现/行为 分离；</li>
						<li>语义化html；</li>
						<li>代码书写简洁明了有序；</li>
						<li>测试需兼容Firefox,Chrome,Opera,IE(ie8及以上版本)浏览器;</li>
						<li>尽可能减小服务器负载, 保证最快的解析速度。</li>
					</ul>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;">文件命名原则</a>
				<div class="unit">
					<ul class="unit2">
						<li>命名优先考虑对应英文，可使用常规缩写形式，如英文太生僻或复杂再考虑拼音</li>
						<li>命名尽可能使得你自己和工作组的每一个成员能够理解每一个文件的意义；</li>
						<li>同一类的文件使用一样的前缀，使得同类文件都能排列在一起，如：
						<xmp>shopping                //商城首页	
shopping-cart          //购物车
shopping-order        //订购清单</xmp></li>
					</ul>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;">图片规范</a>
				<div class="unit">
					<a class="key2" href="javascript:;">案例图片</a>
					<ul class="unit2">
						<li>案例图片指前端页面用img元素调用的图片，一般为后台可配置的图片</li>
						<li>存放路径：项目根目录的/images文件夹内</li>
						<li>在保证视觉效果的情况下选择最小的图片格式与图片质量, 以减少加载时间</li>
						<li>非首页轮播大图外的图片大小尽量限定在 70K 左右或更小</li>
						<li>图片格式仅限于gif || png || jpg</li>
					</ul>
				</div>
				<div class="unit">
					<a class="key2" href="javascript:;">背景图片</a>
					<ul class="unit2">
						<li>背景图片指样式中使用background属性设置的图片，一般为比较少改动的背景图或小图标</li>
						<li>存放路径：项目根目录的/css/imgs文件夹内</li>
						<li>项目发布前背景图需分类合并，以减小http请求</li>
						<li>图片格式仅限于gif || png || jpg</li>
						<li>透明背景的图标用png24格式；非透明背景的图标如图形扁平色彩单一的用png8格式，否则用jpg格式</li>
					</ul>
				</div>
			</ol>

		</div>




		<!--html规范-->
		<a name="html"></a>
		<i style=" margin: 60px 0 25px;">----------------------------------------以下是html规范 START----------------------------------------</i>

		<div class="section html">
			<a class="key0 close2">'html规范'<span>全部展开</span></a>
			<ol>
				<a class="key" href="javascript:;"><s>html</s>结构</a>
				<div class="unit">
					<a class="key2" href="javascript:;"><s>html</s>基本结构</a>	
					<div class="unit2">
						<li>必须有文档类型声明<xmp class="inline"><!DOCTYPE HTML></xmp>，且在文档的第一行，位于html标签之前</li>
						<li>使用utf-8编码</li>
						<li>样式代码或外调style文件请在head元素中引入，如下：
						<xmp><head>
	<link rel="stylesheet" href="xxx.css" />
	<style>
	... //不建议直接在html文件内设置css样式
	</style>						
</head></xmp></li>
						<li>脚本代码或外调的js文件在head元素中或在body元素内部的最后引入，如下：
						<xmp><head>
	<script src="xxx.js"></script>
	<script>
	...
	</script>						
</head>
<body>
	html code here ...
	<script src="xxx.js"></script>
	<script>
	...
	</script>
</body>
</xmp></li>
						<li>使用退格键缩进代码</li>
					</div>
				</div>
				<div class="unit">
					<a class="key2" href="javascript:;"><s>html</s>参考模板</a>	
					<div class="unit2">
						<li>模板参看：<a target="_blank" class="btn" href="index.php?page=standard&extra=standard_html"><s>html</s>基本结构</a><xmp class="txt">此文档内容说明：
- 文档中的common.css为项目共用的样式表，包含重置样式、头部底部等网站共用模块的样式
- 文档中的iconfig.js为项目通用路径配置
- 项目使用了requirejs技术来模块化管理脚本代码，文档中的rconfig.js为requirejs的配置文件</xmp></li>
					</div>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;"><s>html</s>标签</a>
				<div class="unit">
					<a class="key2" href="javascript:;"><s>html</s>标签格式</a>	
					<div class="unit2">
						<li>不能省略可选的结束标签，如：<xmp class="inline"><div>的结束标签</div>不能省略</xmp></li>
					</div>
				</div>
				<div class="unit">
					<a class="key2" href="javascript:;"><s>html</s>标签使用</a>	
					<div class="unit2">
						<li>h1 - 用于网页主题，一个页面只有一个</li>
						<li>h2 - 用于大栏目标题 or 楼层标题 等</li>
						<li>h3 - 用于小栏目标题</li>
						<li>h4 - 用于列表每一条目的标题</li>
						<li>h5,h6 - 用于除以上情况的其他如强调加粗等情况</li>
						<li>ul+li - 列表最佳元素组合</li>
						<li>p - 用于描述简介等文本</li>
						<li>span - 用于搭配其他元素用以布局标签等，尽量不要用于外容器</li>
					</div>
				</div>
				<div class="unit">
					<a class="key2" href="javascript:;"><s>html</s>标签优化</a>	
					<div class="unit2">
						<li>页面元信息的title元素不可缺少</li>
						<li>表单控件的标签文本使用label元素包裹，或使用其for属性确保点击标签文本时能激活对应控件，如：
						<xmp><label>check-1:<input type="checkbox" /></label>
<lable for="check2">check-2:</lable><input type="checkbox" id="check2" /></xmp></li>
					</div>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;"><s>html</s>属性</a>
				<div class="unit">
					<a class="key2" href="javascript:;"><s>html</s>属性格式</a>	
					<div class="unit2">
						<li>标签属性值使用双引号，不要使用单引号</li>
						<li>ID属性在一个页面内是唯一的</li>
						<li>外调文件如果是默认类型时不需要声明type，如：
						<xmp><script src="xxx.js"></script>
<link rel="stylesheet" href="xxx.css" /></xmp></li>
						<li>一般情况下不使用内置style</li>
						<li>合理设置链接的target属性，如：target='_blank'</li>
					</div>
				</div>
				<div class="unit">
					<a class="key2" href="javascript:;"><s>html</s>属性优化</a>	
					<div class="unit2">
						<li>a标签如无链接时其属性href值填充':javascript:;'</li>
						<li>img标签需要加alt属性 (无意义的装饰性图标除外)</li>
						<li>a链接如锚文本不足以描述此链接，需要加title属性，如：
						<xmp><a title="力德网站" href="#">点击这里</a></xmp></li>
						<li>页面的关键字和描述（即元信息name为keywords/description）在发布前应添加合适内容</li>
					</div>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;"><s>html</s>文本</a>
				<div class="unit">
					<div class="unit2">
						<li>文本内尽量避免使用实体,如：<xmp class="inline">空格实体'&nbsp'</xmp></li>
					</div>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;"><s>html</s>注释</a>
				<div class="unit">
					<div class="unit2">
						<li>网页每个模块都应该注释其栏目名称或简短说明,格式如下：
						<xmp><!--头部-->
...
<!--/头部--></xmp></li>
					</div>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;"><s>html</s>命名</a>
				<div class="unit">
					<div class="unit2">
						<li>模板参看：<a target="_blank" class="btn" href="index.php?page=standard&extra=standard_naming_html">html相关命名参考</a>
						</li>
					</div>
				</div>
			</ol>

		</div><!--/html-->
		<i style=" margin: 40px 0 60px;">-----------------------------------------以上是html规范 END------------------------------------------</i>





		<!--css规范-->
		<a name="css"></a>
		<i style=" margin: 60px 0 25px;">-----------------------------------------以下是css规范 START-----------------------------------------</i>
		<div class="section css">
			<a class="key0 close2">'<s>css</s>规范'<span>全部展开</span></a>

			<ol>
				<a class="key" href="javascript:;"><s>css</s>基本设置</a>
				<div class="unit">
					<a class="key2" href="javascript:;">重置样式</a>	
					<div class="unit2">
						<li>模板参看：<a target="_blank" class="btn" href="index.php?page=standard&extra=standard_css_reset">重置样式参考设置</a>
						<xmp>此文档内容注意事项：
- 设置了'box-sizing: border-box'使得padding和border不被包含在定义的宽高内
- 标签h1~h6设置了'font-weight:normal'重置为非粗体
- img,textarea设置了'vertical-align:top'以消除标签间的空白
- em设置了'font-style:normal'重置为非斜体
- a:hover的属性color请按网站需要修改其主色调</xmp>
						</li>
						<li>更多其他常用的重置代码请参考：<a target="_blank" class="btn" href="index.php?page=standard&extra=standard_css_reset_more">备用重置样式参考</a></li>
					</div>
				</div>
				<div class="unit">
					<a class="key2" href="javascript:;">var.less</a>	
					<div class="unit2">
						<li>设置样式变量，主要包括整站的主色调（字色，背景色，线色等）</li>
						<li>模板参看：<a target="_blank" class="btn" href="index.php?page=standard&extra=standard_less_var">var.less参考设置</a>
						</li>
					</div>
				</div>
				<div class="unit">
					<a class="key2" href="javascript:;">mix.less</a>	
					<div class="unit2">
						<li>设置项目中常用样式的属性组合</li>
						<li>此文件的属性集合都不要暴露到最后生成的css中，所以如不带参数也需要加一个空的小括号</li>
						<li>针对需要带兼容前缀的css3样式，本项目将使用gulp构建工具在打包时自动添加对应的兼容前缀，此文件内就不需要再设置相关的属性组合了</li>
						<li>模板参看：<a target="_blank" class="btn" href="index.php?page=standard&extra=standard_less_mix">mix.less参考设置</a>
						</li>
					</div>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;"><s>css</s>格式</a>
				<div class="unit">
					<div class="unit2">
						<li>值为0时后面不加单位</li>
						<li>颜色值都用小写</li>
						<li>当属性值需要加引号时，请使用双引号，如：
						<xmp>font-family:"Microsoft Yahei",arial,Tahoma,sans-serif;
background:url("xxx.png");
content:"xxx";</xmp></li>
						<li>每个样式属性后的分号";"不能省略</li>
						<li>属性值尽量使用缩写，如：
						<xmp>border:0 10px;
margin:10px 15px 20px;
padding:10px;
color:#efg;
background:#eee url(xxx.png) no-repeat center right;</xmp></li>
						<li>需注释所属栏目或模块标题，跟html对应模块标题一致; 多个模块标题用'&'分隔，格式如下：
						<xmp>/*案件列表 & 新闻列表*/
.p-list-pics{...}</xmp></li>
					</div>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;"><s>css</s>属性声明顺序</a>
				<div class="unit">
					<div class="unit2">
						<li>模板参看：<a target="_blank" class="btn" href="index.php?page=standard&extra=standard_attr_css">css属性声明顺序</a>
						</li>
					</div>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;"><s>css</s>优化</a>
				<div class="unit">
					<div class="unit2">
						<li>样式都用class设置，慎用id</li>
						<li>相同或类似的模块尽量把代码整合重用起来</li>
						<li>css慎用expression表达式</li>
						<li>基于减少类名设置、防止属性设置冲突、保持结构清晰的目的，尽量使用css选择器，如：
						<xmp>ul > li{...}
input[type=text]{...}</xmp></li>
						<li>如多个元素一并设置，元素之间换一行，如：
						<xmp>a:hover,
a.on{...}</xmp></li>
						<li>选择器尽量减少不必要的嵌套层级，如：
						<xmp>一个外容器类名为p-list的模块内只有一个ul和同级的li，设置li样式时用.p-list .li{...}而不用.p-list ul li{...}</xmp></li>
					</div>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;"><s>css</s>命名</a>
				<div class="unit">
					<div class="unit2">
						<li>模板参看：<a target="_blank" class="btn" href="index.php?page=standard&extra=standard_naming_css">css相关命名参考</a>
						</li>
					</div>
				</div>
			</ol>

		</div><!--/css-->
		<i style=" margin: 40px 0 60px;">------------------------------------------以上是css规范 END-------------------------------------------</i>






		<!--js规范-->
		<a name="js"></a>
		<i style=" margin: 60px 0 25px;">-----------------------------------------以下是js规范 START-----------------------------------------</i>
		<div class="section js">
			<a class="key0 close2">'<s>js</s>规范'<span>全部展开</span></a>

			<ol>
				<a class="key" href="javascript:;"><s>js</s>基本设置</a>
				<div class="unit">
					<div class="unit2">
						<li>传统js脚本的编写，要求使用下面的模板进行包裹：
						<xmp>(function($){
	'use strict';
	// code...
}(jQuery));</xmp></li>
						<li>requirejs脚本的编写，要求使用下面的格式：
						<xmp>define([
    "jquery",
    "angular"
], function ($, angular) {
    'use strict';
    // code...
});</xmp></li>
						
					</div>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;"><s>js</s>格式</a>
				<div class="unit">
					<div class="unit2">
						<li>每句语句后的';'不能省略</li>
						<li>if、while、for、do语句的执行体总是用"{"和"}"括起来，即使在其结构体内只有一条语句</li>
						<li>代码编写时应该优先使用单引号(‘)，防止字符串可能包含带有双引号(“)的HTML代码</li>
						<li>总是使用var声明变量，避免全局变量的污染</li>
					</div>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;"><s>js</s>优化</a>
				<div class="unit">
					<div class="unit2">
						<li>使用闭包时防止循环引用</li>
						<li>尽量避免使用存在兼容性及消耗资源的方法或属性, 比如eval() & innerText</li>
						<li>避免对象上使用with()</li>
						<li>避免数组使用for in</li>
					</div>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;"><s>js</s>注释</a>
				<div class="unit">
					<div class="unit2">
						<li>脚本模块需写明所属页面或栏目，注释必要时尽量详尽且到位</li>
						<li>插件等独立脚本文件需添加详细的头描述，格式参考如下：
						<xmp>/*
 * 简述
 *
 * 功能详细描述
 *
 * @param <String> arg1 参数1
 * @param <Number> arg2 参数2，默认为0
 * @return <Boolean> 看xxx是否成功
 */
 +(function(){
	'use strict';
	var pluginName = "xxx";
	...
})();
</xmp></li>
					</div>
				</div>
			</ol>

			<ol>
				<a class="key" href="javascript:;"><s>js</s>命名</a>
				<div class="unit">
					<div class="unit2">
						<li>模板参看：<a target="_blank" class="btn" href="index.php?page=standard&extra=standard_naming_js">js相关命名规范</a>
						</li>
					</div>
				</div>
			</ol>
			
		</div><!--/js-->
		<i style=" margin: 40px 0 60px;">------------------------------------------以上是js规范 END-------------------------------------------</i>




	</div>

</div>


<a class="gotop" href="javascript:;">返回顶部</a>





<script>
$(function(){

	//滚动时左栏固定
	$(window).scroll(function(){
		var scrollTop=document.documentElement.scrollTop + document.body.scrollTop;
		if(scrollTop>200){
			$(".mLeft").css({"position":"fixed","top":"0"});
		}else{
			$(".mLeft").css({"position":"absolute","top":"30px"});
		}
	});

	//全部收起 & 全部打开
	$(".mainTtl .switch").click(function(){
		if(!$(this).hasClass("close")){
			$(this).addClass("close").text("全部展开");
			$(".mRight ol").removeClass("drop");
			$(".mRight .unit").removeClass("open");
		}else{
			$(this).removeClass("close").text("全部收起");
			$(".mRight ol").addClass("drop");
			$(".mRight .unit").addClass("open");
		}
	});

	//单个收起 & 打开
	$(".mRight .key").on("click",function(){
		if($(this).parent().hasClass("drop")){
			$(this).parent().removeClass("drop");
			$(this).siblings(".unit").removeClass("open");
		}else{
			$(this).parent().addClass("drop");
			$(this).siblings(".unit").addClass("open");
		}
	});
	$(".mRight .key2").on("click",function(){
		if($(this).parent().hasClass("open")){
			$(this).parent().removeClass("open");
		}else{
			$(this).parent().addClass("open");
		}
	});
	$(".mRight .key0").on("click",function(){
		if(!$(this).hasClass("close2")){
			$(this).addClass("close2").find("span").text("全部展开");
			$(this).parents(".section").find("ol").removeClass("drop");
			$(this).parents(".section").find(".unit").removeClass("open");
		}else{
			$(this).removeClass("close2").find("span").text("全部收起");
			$(this).parents(".section").find("ol").addClass("drop");
			$(this).parents(".section").find(".unit").addClass("open");
		}
	});

	//返回顶部
	$(".gotop").click(function(){
		$("html,body").animate({scrollTop:0},200);
	});

});
</script>



<!--当前导航加.on-->
<input type="hidden" id="page" value="<{$smarty.get.page}>" />
<script>
$(function(){
    var page=$("#page").val();
    $(".pNav ."+page).addClass("on").parent().siblings().children().removeClass("on");
});
</script>


<!--底部-->
<{include file="global_footer.php"}>
</body>
</html>