<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/h_reset.css" />
<link rel="stylesheet" href="css/col_style.css" />
<script src="js/jquery-1.10.2.js"></script>
<title>base</title>
</head>
<body>


<!--头部-->
<{include file="global_header.php"}>


<div class="noteList">
    <p>以下为网页常用插件的分类，每个分类包含 <i>[ </i><em>'自主封装插件'</em><i>：团队成员自主开发封装的插件，不保障无漏洞 ]</i> 和 <i>[ </i><em>'常用插件'</em><i>：常用且较轻量简单的插件 ]</i> 和 <i>[ </i><em>'推荐插件'</em><i>：较有意思值得分享的插件 ]</i></p>
</div>


<ul class="pCat7">
    <li class="noClick">
        <a class="img" href="col_handle.php?page=plus&list=carousel"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=plus&list=carousel">幻灯片</a></h5>
    </li>
    <li class="noClick">
        <a class="img" href="col_handle.php?page=plus&list=tabs"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=plus&list=tabs">切换卡</a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=plus&list=dropdown"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=plus&list=dropdown">下拉</a></h5>
    </li>
    <li class="noClick">
        <a class="img" href="col_handle.php?page=plus&list=modal"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=plus&list=modal">模态窗</a></h5>
    </li>
    <li class="noClick">
        <a class="img" href="col_handle.php?page=plus&list=dialog"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=plus&list=dialog">对话框</a></h5>
    </li>
    <li class="noClick">
        <a class="img" href="col_handle.php?page=plus&list=select"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=plus&list=select">选项框</a></h5>
    </li>
    <li class="noClick">
        <a class="img" href="col_handle.php?page=plus&list=gotop"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=plus&list=gotop">返回顶部</a></h5>
    </li>
</ul><!--pCat7-->




<!--当前导航加.on-->
<input type="hidden" id="page" value="<{$smarty.get.page}>" />
<script>
$(function(){
    var page=$("#page").val();
    $(".pNav ."+page).addClass("on").parent().siblings().children().removeClass("on");
});
</script>



<!--底部-->
<!--_refer-->
<{include file="global_footer.php"}>
<!--refer_-->


</body>
</html>
