<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/h_reset.css" />
<link rel="stylesheet" href="css/col_style.css" />
<script src="js/jquery-1.10.2.js"></script>
<title>base</title>
</head>
<body>


<!--头部-->
<{include file="global_header.php"}>



<div class="pTabs pPlus">
    <li class="fl on" data-role="plus">插件</li>
    <li class="fr" data-role="unit">组件</li>
</div>
<input type="hidden" id="tab" name="tab" value="<{$smarty.get.tab}>" />
<div style="width: 100%; height: 800px;"></div>


<div class="pShow show_plus">

    <div class="noteList" style="top: 0;">
        <p>以下为网页常用插件的分类，每个分类包含 <i>[ </i><em>'自主封装插件'</em><i>：团队成员自主开发封装的插件，不保障无漏洞 ]</i> 和 <i>[ </i><em>'常用插件'</em><i>：常用且较轻量简单的插件 ]</i> 和 <i>[ </i><em>'推荐插件'</em><i>：较有意思值得分享的插件 ]</i></p>
    </div>

    <ul class="pCat7" style="margin-top:50px;">
        <li>
            <a class="img" href="col_handle.php?page=plus&col=plus&list=carousel"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a href="col_handle.php?page=plus&col=plus&list=carousel">幻灯片</a></h5>
        </li>
        <li>
            <a class="img" href="col_handle.php?page=plus&col=plus&list=tabs"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a href="col_handle.php?page=plus&col=plus&list=tabs">切换卡</a></h5>
        </li>
        <li>
            <a class="img" href="col_handle.php?page=plus&col=plus&list=dropdown"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a href="col_handle.php?page=plus&col=plus&list=dropdown">下拉</a></h5>
        </li>
        <li>
            <a class="img" href="col_handle.php?page=plus&col=plus&list=modal"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a href="col_handle.php?page=plus&col=plus&list=modal">模态窗</a></h5>
        </li>
        <li>
            <a class="img" href="col_handle.php?page=plus&col=plus&list=dialog"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a href="col_handle.php?page=plus&col=plus&list=dialog">对话框</a></h5>
        </li>
        <li>
            <a class="img" href="col_handle.php?page=plus&col=plus&list=select"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a href="col_handle.php?page=plus&col=plus&list=select">选项框</a></h5>
        </li>
        <li>
            <a class="img" href="col_handle.php?page=plus&col=plus&list=gotop"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a href="col_handle.php?page=plus&col=plus&list=gotop">返回顶部</a></h5>
        </li>
    </ul>

</div><!---->



<div class="pShow show_unit" style="left:-9999px;">

    <div class="noteList" style="top: 0;">
        <p class="s">以下为网页常用的功能组件 / 本站所说的<em>'组件'</em>指的是一组附带有指定样式表、脚本文件或图标等资料的整套功能模块</p>
    </div>


    <ul class="pCat7">
        <li>
            <a class="img" href="col_handle.php?page=plus&col=unit&list=ckeditor"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a href="col_handle.php?page=plus&col=unit&list=ckeditor">编辑器</a></h5>
        </li>
    </ul><!--pCat7-->

</div><!---->




<script>
//识别url参数定位分类
function optUrl(){
    var url_plus=window.location.href;
    var index_plus=url_plus.indexOf("#");
    if(index_plus!=0){
        var opt_plus=url_plus.substr(index_plus);
        if(opt_plus=="#unit"){
            $(".show_plus").animate({"left":"9999px"},200);
            $(".show_unit").animate({"left":"50%"},200);
            $(".pTabs li").eq(1).addClass("on").siblings().removeClass("on");
        }
        if(opt_plus=="#plus"){
            $(".show_plus").animate({"left":"50%"},200);
            $(".show_unit").animate({"left":"-9999px"},200);
            $(".pTabs li").eq(0).addClass("on").siblings().removeClass("on");
        }
    }
}
$(function(){
    optUrl();
    $(".pTabs li").on("click",function(){
        var dataRole=$(this).attr("data-role");
        var url_plus=window.location.href;
        var index_plus=url_plus.indexOf("#");
        if(index_plus!=0){
            url_plus=url_plus.substr(0,index_plus);
        }
        window.location.href=url_plus+"#"+dataRole;
        optUrl();
    });   
});
</script>



<!--当前导航加.on-->
<input type="hidden" id="page" value="<{$smarty.get.page}>" />
<script>
$(function(){
    var page=$("#page").val();
    $(".pNav ."+page).addClass("on").parent().siblings().children().removeClass("on");
});
</script>



<!--底部-->
<{include file="global_footer.php"}>


</body>
</html>
