<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/h_reset.css" />
    <link rel="stylesheet" href="css/col_style.css" />
    <link rel="stylesheet" href="css/col_style_2.css" />
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/copy/jquery.zclip.min.js"></script>
</head>
<body>



<!--头部-->
<{include file="global_header.php"}>


<!--侧栏-->
<div class="sideOther">
    <a href="col_others.php?page=others&col=css3" data-col="css3">css3样式</a>
    <a href="col_others.php?page=others&col=part&folder=mark&act=listAll" data-col="part">小部件</a>
    <a href="col_others.php?page=others&col=bs&act=catTop" data-col="bs">BS模块</a>
    <a href="col_others.php?page=others&col=website" data-col="website">前端网址</a>
    <a href="col_others.php?page=others&col=style" data-col="style">常用样式</a>
    <a href="col_others.php?page=others&col=reg" data-col="reg">常用正则</a>
</div>
<input type="hidden" id="side_col" value="<{$smarty.get.col}>" />


<div class="Marticle">

    <div class="Mbody MStyle">

        <ol>
            <h3>消浮：</h3>
            <xmp class="code">.clr{ *display: inline-block;}
.clr:after{ content:"."; display:block; height:0; clear:both; visibility:hidden;}</xmp>
            <a class="copy">复制代码</a>
        </ol>

        <ol>
            <h3>容器中的图片或文字垂直和水平居中：</h3>
            <xmp class="code">display: table-cell; width: 200px; height: 200px; vertical-align: middle; text-align: center;</xmp>
            <div class="des">说明：以上样式设置在容器上，如容器绝对定位或浮动，垂直居中不生效</div>
            <a class="copy">复制代码</a>
        </ol>

        <ol>
            <h3>背景透明度：</h3>
            <xmp class="code">background:#000; opacity:.5; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);</xmp>
            <div class="des">说明：兼容ie7及以上版本的浏览器；请避免在使用filter的同时使用rgba来设置背景色与透明度，因为ie9两者都能识别从而会重复设置</div>
            <a class="copy">复制代码</a>
        </ol>



    </div>

</div>


<script>
$(function(){
    //复制代码
    $(".MStyle .copy").zclip({
        path: "js/copy/ZeroClipboard.swf",
        copy: function(){
            return $(this).siblings(".code").text();
        },
        afterCopy:function(){
            $(this).append('<div class="mAlert3">已复制到剪切板</div>');
            $(".mAlert3").animate({'opacity':'1','bottom':'40px'},400).delay(1000).fadeOut(400,function(){
                $(this).remove();
            });
        }
    });

    //‘其他’侧栏
    var side_col=$("#side_col").val();
    $(".sideOther a").each(function(){
        var data_col=$(this).attr("data-col");
        if(data_col==side_col){
            $(this).addClass("on").siblings("a").removeClass("on");
            return;
        }
    });

});
</script>



<!--当前导航加.on-->
<input type="hidden" id="page" value="<{$smarty.get.page}>" />
<script>
$(function(){
    var page=$("#page").val();
    $(".pNav ."+page).addClass("on").parent().siblings().children().removeClass("on");
});
</script>



<!--底部-->
<{include file="global_footer.php"}>


</body>
</html>
