<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/col_style.css" />
    <link rel="stylesheet" href="css/col_style_2.css" />
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/copy/jquery.zclip.min.js"></script>
</head>
<body>



<!--头部-->
<{include file="global_header.php"}>


<!--侧栏-->
<div class="sideOther">
    <a href="col_others.php?page=others&col=css3" data-col="css3">css3样式</a>
    <a href="col_others.php?page=others&col=part&folder=mark&act=listAll" data-col="part">小部件</a>
    <a href="col_others.php?page=others&col=bs&act=catTop" data-col="bs">BS模块</a>
    <a href="col_others.php?page=others&col=website" data-col="website">前端网址</a>
    <a href="col_others.php?page=others&col=style" data-col="style">常用样式</a>
    <a href="col_others.php?page=others&col=reg" data-col="reg">常用正则</a>
</div>
<input type="hidden" id="side_col" value="<{$smarty.get.col}>" />


<div class="Marticle">

    <div class="Mbody MStyle">

        <ol>
            <h3>常用cdn链接：</h3>
            <ul>
                <xmp class="code">http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js</xmp>
                <a class="copy">复制代码</a>
            </ul>
            <ul>
                <xmp class="code">http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css</xmp>
                <a class="copy">复制代码</a>
            </ul>
            <ul>
                <xmp class="code">http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js</xmp>
                <a class="copy">复制代码</a>
            </ul>
            <ul>
                <xmp class="code">http://apps.bdimg.com/libs/require.js/2.1.9/require.min.js</xmp>
                <a class="copy">复制代码</a>
            </ul>
            <ul>
                <xmp class="code">http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js</xmp>
                <a class="copy">复制代码</a>
            </ul>
            <xmp class="des">说明：对应非压缩版的去掉链接中的.min即可 | 链接中对应版本号可改成你需要的即可</xmp>
        </ol>
        <ol>
            <h3>html5兼容：</h3>
            <ul>
                <xmp class="code"><script src="http://api.html5media.info/1.1.4/html5media.min.js"></script></xmp>
                <xmp class="des">说明：为不支持html5标签的浏览器使用；可包含在<!--[if lt IE 9]><![endif]-->内</xmp>
                <a class="copy">复制代码</a>
            </ul>
        </ol>
        <ol>
            <h3>css3兼容：</h3>
            <ul>
                <xmp class="code"><script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script></xmp>
                <xmp class="des">说明：为 IE6-8 以及其它不支持 CSS3 Media Queries 的浏览器提供媒体查询的 min-width 和 max-width 特性，实现响应式网页设计；可包含在<!--[if lt IE 9]><![endif]-->内</xmp>
                <a class="copy">复制代码</a>
            </ul>
            <!-- <ul>
                <xmp class="code">.test{ behavior: url(ie-css3.htc);}</xmp>
                <xmp class="des">说明：</xmp>
                <a class="copy">复制代码</a>
            </ul> -->
        </ol>
       <!--  <ol>
            <h3>视频播放兼容：</h3>
            <ul>
                <xmp class="code"><link rel="stylesheet" href="http://www.jq22.com/demo/video-js/video-js.css" />
<script src="http://www.jq22.com/demo/video-js/video.js"></script></xmp>
                <div class="des">说明：此为通用的在网页上嵌入视频播放器的 JS 库，Video.js 自动检测浏览器对 HTML5 的支持情况，如果不支持 HTML5 则自动使用 Flash 播放器;
video.js在低版本的ie浏览器要求放在<head>内才能生效</div>
                <a class="copy">复制代码</a>
            </ul>
        </ol> -->

    </div>

</div>


<script>
$(function(){
    //复制代码
    $(".MStyle .copy").zclip({
        path: "js/copy/ZeroClipboard.swf",
        copy: function(){
            return $(this).siblings(".code").text();
        },
        afterCopy:function(){
            $(this).append('<div class="mAlert3">已复制到剪切板</div>');
            $(".mAlert3").animate({'opacity':'1','bottom':'40px'},400).delay(1000).fadeOut(400,function(){
                $(this).remove();
            });
        }
    });

    //‘其他’侧栏
    var side_col=$("#side_col").val();
    $(".sideOther a").each(function(){
        var data_col=$(this).attr("data-col");
        if(data_col==side_col){
            $(this).addClass("on").siblings("a").removeClass("on");
            return;
        }
    });

});
</script>



<!--当前导航加.on-->
<input type="hidden" id="page" value="<{$smarty.get.page}>" />
<script>
$(function(){
    var page=$("#page").val();
    $(".pNav ."+page).addClass("on").parent().siblings().children().removeClass("on");
});
</script>



<!--底部-->
<{include file="global_footer.php"}>


</body>
</html>
