<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/h_reset.css" />
<link rel="stylesheet" href="css/col_style.css" />
<script src="js/jquery-1.10.2.js"></script>
<title>base</title>
</head>
<body>



<!--头部-->
<{include file="global_header.php"}>




<div class="noteList">
    <p class="s">以下为网页常用模块的分类，每个分类包含 <i>[ </i><em>'基本结构模块'</em><i>：只注重结构定位和布局 ]</i> 和 <i>[ </i><em>'参考样式模块'</em><i>：基于基本结构的各种表现效果 ]</i></p>
</div>



<ul class="pCat7">
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-topbar"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-topbar">顶部工具栏 <i>p-topbar</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-header"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-header">头部 <i>p-header</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-search"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-search">搜索框 <i>p-search</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-mainnav"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-mainnav">头部导航 <i>p-mainnav</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-sidenav"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-sidenav">侧栏 <i>p-sidenav</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-crumb"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-crumb">面包屑导航 <i>p-crumb</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=g-hd"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=g-hd">栏目标题 <i>g-hd</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-cats"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-cats">分类列表 <i>p-cats</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-ttls"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-ttls">标题列表 <i>p-ttls</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-list"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-list">图文列表 <i>p-list</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-special"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-special">单图文 <i>p-special</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-ads"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-ads">广告位 <i>p-ads</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-pagination"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-pagination">分页 <i>p-pagination</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-details"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-details">详情页 <i>p-details</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-footer"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-footer">底部 <i>p-footer</i></a></h5>
    </li>
    <li>
        <a class="img" href="col_handle.php?page=module&col=module&list=p-layout"><img src="images/sys/3.jpg" alt="" /></a>
        <h5><a href="col_handle.php?page=module&col=module&list=p-layout">其他布局 <i>p-layout</i></a></h5>
    </li>
</ul><!--pCat7-->



<!--当前导航加.on-->
<input type="hidden" id="page" value="<{$smarty.get.page}>" />
<script>
$(function(){
    var page=$("#page").val();
    $(".pNav ."+page).addClass("on").parent().siblings().children().removeClass("on");
});
</script>


<!--底部-->
<!--_refer-->
<{include file="global_footer.php"}>
<!--refer_-->

</body>
</html>
