<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/reset.css" />
<link rel="stylesheet" href="css/col_style.css" />
<script src="js/jquery-1.10.2.js"></script>
<title>base</title>
</head>
<body>


<!--头部-->
<{include file="global_header.php"}>



<div class="pTabs pPlus">
    <li class="fl on" data-role="0">展示</li>
    <li class="fl" data-role="1">功能</li>
    <li class="fl" data-role="2">布局</li>
    <li class="fl" data-role="3">兼容</li>
    <li class="fl" data-role="4">其他</li>
</div>
<input type="hidden" id="tab" name="tab" value="<{$smarty.get.tab}>" />
<div style="width: 100%; height: 800px;"></div>



<!--======================切换=======================-->
<div class="pShow">

    <!-- <div class="noteList" style="top: 0;">
        <p>以下为网页常用插件的分类，每个分类包含 <i>[ </i><em>'自主封装插件'</em><i>：团队成员自主开发封装的插件，不保障无漏洞 ]</i> 和 <i>[ </i><em>'常用插件'</em><i>：常用且较轻量简单的插件 ]</i> 和 <i>[ </i><em>'推荐插件'</em><i>：较有意思值得分享的插件 ]</i></p>
    </div> -->

    <ul class="pCat7" style="margin-top:50px;" data-url="col_handle.php?page=plus&col=_show&list=">
        <li>
            <a class="img" data-col="carousel"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a data-col="carousel">幻灯片</a></h5>
        </li>
        <li>
            <a class="img" data-col="tabs"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a data-col="tabs">切换卡</a></h5>
        </li>
        <li>
            <a class="img" data-col="dropdown"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a data-col="dropdown">下拉</a></h5>
        </li>
        <li>
            <a class="img" data-col="pop"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a data-col="pop">弹出层</a></h5>
        </li>
        <li>
            <a class="img" data-col="dialog"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a data-col="dialog">对话框</a></h5>
        </li>
        <li>
            <a class="img" data-col="select"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a data-col="select">选项框</a></h5>
        </li>
    </ul>

</div><!---->



<!--======================输入=======================-->
<div class="pShow" style="left:-9999px;">

    <!-- <div class="noteList" style="top: 0;">
        <p class="s">以下为网页常用的功能组件 / 本站所说的<em>'组件'</em>指的是一组附带有指定样式表、脚本文件或图标等资料的整套功能模块</p>
    </div> -->

    <ul class="pCat7" data-url="col_handle.php?page=plus&col=_function&list=">
        <li>
            <a class="img" data-col="validator"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a data-col="validator">表单验证</a></h5>
        </li>
        <li>
            <a class="img" data-col="ckeditor"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a data-col="ckeditor">编辑器</a></h5>
        </li>

        <li>
            <a class="img" data-col="WdatePicker"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a data-col="WdatePicker">日期选择</a></h5>
        </li>

    </ul><!--pCat7-->

</div><!---->



<!--======================布局=======================-->
<div class="pShow" style="left:-9999px;">
    <ul class="pCat7" data-url="col_handle.php?page=plus&col=_layout&list=">
        <li>
            <a class="img" data-col="gotop"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a data-col="gotop">返回顶部</a></h5>
        </li>
    </ul>
</div>



<!--======================兼容=======================-->
<div class="pShow" style="left:-9999px;">
    <ul class="pCat7" data-url="col_handle.php?page=plus&col=_compat&list=">
        <li>
            <a class="img" data-col="audio"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a data-col="audio">音频播放</a></h5>
        </li>
        <li>
            <a class="img" data-col="mediaelement"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a data-col="mediaelement">视频播放</a></h5>
        </li>
    </ul>
</div>



<!--======================其他=======================-->
<div class="pShow" style="left:-9999px;">
    <ul class="pCat7" data-url="col_handle.php?page=plus&col=_other&list=">
        <li>
            <a class="img" data-col="gotop"><img src="images/sys/3.jpg" alt="" /></a>
            <h5><a data-col="gotop">返回顶部</a></h5>
        </li>
    </ul>
</div>


<script>
//识别url参数定位分类
function optUrl(){
    var url_plus=window.location.href;
    var index_plus=url_plus.indexOf("#");
    if(index_plus>=0){
        var opt_plus=url_plus.substr(index_plus+1);
        $(".pTabs li").eq(opt_plus).addClass("on").siblings().removeClass("on");
        $(".pShow").animate({"left":"9999px"},0);
        $(".pShow").eq(opt_plus).animate({"left":"50%"},200);
    }else{
        $(".pTabs li").eq(0).addClass("on").siblings().removeClass("on");
        $(".pShow").animate({"left":"9999px"},0);
        $(".pShow").eq(0).animate({"left":"50%"},200);
        window.location.href=url_plus+'#0';
    }
}
$(function(){
    optUrl();
    $(".pTabs li").on("click",function(){
        var dataRole=$(this).attr("data-role");
        var url_plus=window.location.href;
        var index_plus=url_plus.indexOf("#");
        if(index_plus!=0){
            url_plus=url_plus.substr(0,index_plus);
        }
        window.location.href=url_plus+"#"+dataRole;
        optUrl();
    });   

    //链接处理
    $(".pShow a").click(function(){
        var col=$(this).attr("data-col");
        var url_pre=$(this).parents("ul").attr("data-url");
        var url=url_pre+col;
        $(this).attr("href",url);
    });
});
</script>



<!--当前导航加.on-->
<input type="hidden" id="page" value="<{$smarty.get.page}>" />
<script>
$(function(){
    var page=$("#page").val();
    $(".pNav ."+page).addClass("on").parent().siblings().children().removeClass("on");
});
</script>



<!--底部-->
<{include file="global_footer.php"}>


</body>
</html>
