<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>前端规范文档</title>
	<link rel="stylesheet" href="css/h_reset.css" />
	<link rel="stylesheet" href="css/col_style.css" />
	<script src="js/jquery-1.10.2.js"></script>
</head>
<body>


<div class="cssAttr" style="font-family: '微软雅黑'; font-size: 14px; color: #38a338; padding: 30px; line-height: 22px;">
<xmp>//基本共用 base.css
主要的 master.css
模块 module.css
布局、版面 layout.css
主题 themes.css
专栏 columns.css
文字 font.css
表单 forms.css
补丁 mend.css
打印 print.css
...</xmp>

</div>




</body>
</html>